{{#m-card
  onsubmit=attrs.onsubmit
  title="Login to Peepchat"
  buttonText="Login"}}
  <div class="row">
    {{m-input
      classNames="col s12"
      type="email"
      label="Username"}}
  </div>
  <div class="row">
    {{m-input
      classNames="col s12"
      type="password"
      label="Password"}}
  </div>
{{/m-card}}
